* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.spaceAsideForSection{
    padding: 0 70px;
}

.heroSection {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* width: 1000px; */
    /* padding: 0 70px; */
    margin-top: 60px;
}

.heroSectionImgDescriptionlorem {
    padding:5px 0;    
    width: 600px;
    font-size: 12px;
    /* line-height: 10px; */
}

 

 .heroSectionImage  img {
    height: 500px;
    margin-bottom: 30px;    
    border-radius: 20px;
    
 }


 .heroSectionImgDescription  h1 {
    font-weight: bold;
    font-size: 180%;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


 .heroSectionImageUserRate {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
 }
 .heroSectionImageUserRating  {
    font-size: 120%;
 }

 .heroSectionImageUserName {
    font-size: large;
    font-weight: 800;
 }
 
.heroSectionImageLine {
    font-size: 120%;
}

.heroSectionImageUser {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.heroSectionEnrollNumber {
    color: #A020F0;
    font-size: 120%;
}

.heroSectionSideMenuDetails ul {
    /* padding: 0 30px; */
    margin:0 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between  ;
    /* align-content: center; */
    flex-direction: row;
    border-bottom: 2px solid black;
} 

.heroSectionSideMenuPrice {
    text-align: center;
    padding:30px 0;
    font-size: 30px;
    font-weight: 750;
    color: #A020F0;
}

/* .heroSectionSideMenuDetails {
    padding-bottom: 10px;
    margin-bottom: 10px;
} */


.heroSectionSideMenuEnrollBtn {
    text-align: center;
    margin-top: 20px;
}
.heroSectionSideMenu {
    background-color: antiquewhite;
    width: 400px;
    /* height: 100vh; */
    display: flex; /* Added display: flex */
    flex-direction: column; /* Changed flex-direction to column */
    /* justify-content: space-between; */
    /* align-content: center; */
    /* gap: 200px; */
    border-radius: 20px;
 }

.heroSectionSideMenuEnrollBtn button{
    background-color: #A020F0;
    color: #FFF;
    border: 1px solid #A020F0;
    transition: 0.4s ease;
    padding: 15px;
    font-size: large;
    border-radius: 10px;
    width: 140px;
    
}

li {
    list-style: none; 
    margin-top: 30px; /* Adjust the gap between list items */
}

.heroSectionSideMenuDetailsBold {
    font-weight: bold;
}


